.error {
  color: red;
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  border: 2px solid black;
  min-width: 907px;
}

.header-container {
  background: #ccc;
}

.headers {
  display: flex;
  flex-direction: row;
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5px;
  height: 55px;
  border-right: 1px solid black;
}

.header-column:last-child {
  border-right: none;
}

.content-viewport {
  width: 100%;
  height: 600px;
  overflow-y: auto;
}

.row {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.row.even {
}

.row.odd {
  background: #eee;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-right: 1px solid black;
}

.cell:last-child {
  border-right: none;
}

.cell-wrapper {
  display: flex;
  width: 70px;
  min-width: none;
  /* padding: 0 10px; */
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-column.name,
.cell.name {
  /* width: 300px; */
  min-width: 150px;
  max-width: 150px;
  /* width: 150px; */
}

.header-column.email,
.cell.email {
  width: 251px;
}

.header-column.birth_date,
.cell.birth_date {
  width: 101px;
}

.header-column.year_of_experience,
.cell.year_of_experience {
  width: 201px;
}

.header-column.position_applied,
.cell.position_applied {
  width: 201px;
}

.header-column.application_date,
.cell.application_date {
  width: 121px;
  /* flex: 1 1 auto; */
}

.header-column.status,
.cell.status {
  /* width: 70px; */
  flex: 1 1 auto;
}

.filter-select {
  margin-top: 5px;
  border-radius: 9px;
}

.arrow {
  position: relative;

  width: 0;
  height: 0;
  margin-left: 5px;
}

.arrow.up {
  /* top: 7px; */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow.down {
  /* top: 7px; */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

@media only screen and (max-width: 1199px) {
  .header-column.name,
  .cell.name {
    /* min-width: 150px;
    max-width: 150px; */
    min-width: 170px;
    max-width: 170px;
  }

  .header-column.email,
  .cell.email {
    min-width: 170px;
    max-width: 170px;
  }

  .header-column.birth_date,
  .cell.birth_date {
    min-width: 70px;
    max-width: 70px;
  }

  .header-column.year_of_experience,
  .cell.year_of_experience {
    min-width: 130px;
    max-width: 130px;
  }

  .header-column.position_applied,
  .cell.position_applied {
    min-width: 150px;
    max-width: 150px;
  }

  .header-column.application_date,
  .cell.application_date {
    min-width: 105px;
    max-width: 105px;
  }

  .header-column.status,
  .cell.status {
    flex: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .header-column.name,
  .cell.name {
    min-width: 20%;
    max-width: 20%;
  }

  .header-column.email,
  .cell.email {
    min-width: 20%;
    max-width: 20%;
  }

  .header-column.birth_date,
  .cell.birth_date {
    width: 100px;
  }

  .header-column.year_of_experience,
  .cell.year_of_experience {
    width: 200px;
  }

  .header-column.position_applied,
  .cell.position_applied {
    width: 200px;
  }

  .header-column.application_date,
  .cell.application_date {
    width: 120px;
    /* flex: 1 1 auto; */
  }

  .header-column.status,
  .cell.status {
    /* width: 70px; */
    flex: 1 1 auto;
  }
}
