.table {
  border: 2px solid black;
  /* width: 90%; */
}

.header-container {
  background: #ccc;
}

.headers {
  display: flex;
  flex-direction: row;
}

.header-text {
  position: relative;
}

.header-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5px;
  height: 55px;
  border-right: 1px solid black;
}

.header-column:last-child {
  border-right: none;
}

.content-viewport {
  width: 100%;
  height: 600px;
  overflow-y: auto;
}

.row {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.row.even {
}

.row.odd {
  background: #eee;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-right: 1px solid black;
}

.cell:last-child {
  border-right: none;
}

.header-column.name,
.cell.name {
  width: 200px;
}

.header-column.email,
.cell.email {
  width: 25%;
}

.header-column.birth_date,
.cell.birth_date {
  width: 70px;
}

.header-column.year_of_experience,
.cell.year_of_experience {
  width: 200px;
}

.header-column.position_applied,
.cell.position_applied {
  width: 200px;
}

.header-column.application_date,
.cell.application_date {
  width: 120px;
  /* flex: 1 1 auto; */
}

.header-column.status,
.cell.status {
  /* width: 70px; */
  flex: 1 1 auto;
}

.filter-input {
  margin-top: 5px;
  width: 100px;
  border-radius: 9px;
}

.filter-select {
  margin-top: 5px;
  border-radius: 9px;
}

.no-focusborder:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.arrow {
  position: absolute;

  width: 0;
  height: 0;
  margin-left: 5px;
}

.arrow.up {
  top: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow.down {
  top: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
